@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width: 100% !important;
    border: none !important;
}

.react-calendar__tile--active {
    color: black !important;
    background: #bfdbfe !important;
    border-radius: 10px;
}

.react-calendar__navigation__label{
    font-weight: bold !important;
}